.git
.gitignore
.env
.env.*
!.env.example
.vscode
.idea
.DS_Store
Thumbs.db
node_modules
vendor
npm-debug.log
yarn-error.log
coverage
.phpunit.cache
.phpunit.result.cache
docker-compose*.yml
Dockerfile
docker
docs
*.md
!README.md
tests
.git
